.form-input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 1rem;
    border: 1px solid grey;
}

.submit-btn {
    background-color: #7c9af2;
    color: rgb(46, 45, 45);
    padding: 10px 40px;
    border: none;
    border-radius: 5rem;
}

#chat-area {
    max-height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    background-color: #7c9af2;
}

#msg-area {
    background-color: #7c9af2;
    border-top: 1px solid black;
}

.send-msg {
    background-color: #7c9af2;
    height: 100%;
    width: 100%;
    border: none;
    color: black;
}